:root {
    --darkbackgroundBlue: #021526;
    --lightBlue: #6EACDA;
    --darkBlue: #03346E;
    --h2Dark: #D6BD98;
    --barFgColorDark: #126E82;
    --barBgColorDark: #51C4D3;
    --leftGrad: #8fbeff;
    --centerGrad: #745bd3;
    --rightGrad: #fcada4;
    --hover: #fcada4;
  }

html{
    font-family: Helvetica, sans-serif;
}

body {
    background-color: var(--darkbackgroundBlue);
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--lightBlue);
}

a:active,
a:hover {
    color:var(--hover);
    transition: ease-in 0.2s;
}

p {
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--lightBlue);
}

h2 {
    color: var(--h2Dark);
    margin: 25px 0;
    padding: 0;
}

span {
    margin-right: 10px;
}


.main-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.theme-btn {
    position: absolute;
    background: none;
    top: 0px;
    right: 40px;
    border: none;
	cursor:pointer;
	color:#fff;
	font-size: 1.3rem;
	text-decoration:none;
}

.left-container {
    width: 350px;
}

.elem-logo {
    border: 3px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 23%, var(--centerGrad) 39%, var(--rightGrad) 86%) 1;
    position: relative;
    margin: 35px auto;
    padding: 0;
    height: 240px;
    width: 250px;
    max-height: 340px;
    max-width: 350px;
    cursor: default;
}

.logo-upper-left {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    position: absolute;
    top: 9px;
    left: 15px;
}

.logo-center {
    position: absolute;
    color: var(--lightBlue);
    top: 15px;
    left: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 7rem;
    font-weight: 200;
}

.logo-center span {
    margin: 0px;
    padding: 0px;
    font-size: 8rem;
}

.logo-bottom-center-name {
    position: absolute;
    font-size: 1.5rem;
    bottom: 30px;
    left: 60px;
}

.logo-bottom-center {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
    left: 75px;
}

.title-container {
    text-align: center;
}

.title {
    color: #aebff1;
    font-size: 2rem;
    background-image: -webkit-linear-gradient(0deg, var(--leftGrad) 23%, var(--centerGrad) 39%, var(--rightGrad) 86%);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin:0;
    padding: 0;
}

.main-link-icon {
    font-size: 2rem;
    margin-right: 15px;
}

.to-apps-link {
    display: none;
}

.main, .skills, .languages, .codewars{
    margin: 25px 0;
    border-top: 1px solid var(--lightBlue);
}

.header-icon {
    font-size: 2rem;
    margin-right: 15px;
}

.bar-bg {
    background-color: var(--barBgColorDark);
}

.bar-fg {
    color: #fff;
    background-color: var(--barFgColorDark);
    height:7px; 
}

.right-container {
    /* border: 1px solid red; */
    margin-top: 100px;
    margin-left: 45px;
    text-align: right;
    color: var(--lightBlue);
    font-size: 1.7rem;
    font-weight: 100;
    width: 45%;
}

.right-container h2 {
    border-bottom: 1px solid var(--lightBlue);
}

.calc-app-txt {
    border: 1px solid var(--lightBlue);
    float: left;
    font-size: 1rem;
    margin-top: -26px;
    padding: 2px 10px;
}

footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: var(--lightBlue);
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 20px;
}
/*************************** Mobile *******************************************/
@media(max-width: 600px) {

    .theme-btn {
        right: 10px;
    }

    .main-container {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .left-container {
        /* border: 1px solid yellow; */
        width: 90%;
    }

    .right-container {
        /* border: 1px solid blue; */
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 100;
        width: 90%;
    }

    .main {
        text-align: center;
    }

    .to-apps-link {
        display: block;
    }

    .calc-app-txt {
        /* border-bottom: 1px solid var(--white); */
        clear: all;
        margin-top: -26px;
        padding: 2px 3px;
    }

    .calculators p, .tools p, .fun p {
        font-size: .7rem;
    }

    footer {
        /* border: 1px solid wheat; */
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 0;
    }

    footer p {
        font-size: .9rem;
    }

    #bmc-wbtn {
        margin-bottom: 25px;
    }
}