:root {
    --backgroundBlue: #007acc;
    --buttonRed: #c1121f;
    --darkBlue: #03346E;
    --barFgColor: #06D001;
    --barBgColor: #fff;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #ff5900;
    --hover: #ff5900;
    --h2: #fff;
    --white: #fff;
}

html{
    font-family: Helvetica, sans-serif;
}

body {
    background-color: var(--backgroundBlue);
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--white);
}

a:active,
a:hover {
    color:var(--hover);
    transition: ease-in 0.3s;
}

p {
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--white);
}

h2 {
    color: var(--h2);
}

.main-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.theme-btn {
    position: absolute;
    background: none;
    top: 0px;
    right: 40px;
    border: none;
	cursor:pointer;
	color:var(--white);
	font-size: 1.3rem;
	text-decoration:none;
}

.left-container {
    /* border: 1px solid red; */
    width: 350px;
}

.elem-logo {
    border: 3px solid;
    border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    position: relative;
    margin: 35px auto;
    padding: 0;
    height: 240px;
    width: 250px;
    max-height: 340px;
    max-width: 350px;
    cursor: default;
}

.logo-upper-left {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    position: absolute;
    top: 9px;
    left: 15px;
}

.logo-center {
    position: absolute;
    color: var(--white);
    top: 15px;
    left: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 7rem;
    font-weight: 200;
}

.logo-center span {
    margin: 0px;
    padding: 0px;
    font-size: 8rem;
}

.logo-bottom-center-name {
    position: absolute;
    font-size: 1.5rem;
    bottom: 30px;
    left: 60px;
}

.logo-bottom-center {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
    left: 75px;
}

.title-container {
    text-align: center;
}

.title {
    color: var(--white); 
    background-image: -webkit-linear-gradient(0deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 90%); 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin:0;
    padding: 0;
}

.main-link-icon {
    font-size: 2rem;
    margin-right: 15px;
}

.to-apps-link {
    display: none;
}

.main, .skills, .languages, .codewars{
    margin: 25px 0;
    border-top: 1px solid var(--white);
}

.header-icon {
    font-size: 2rem;
    margin-right: 15px;
}

.bar-bg {
    height: 7px;
    background-color: var(--barBgColor);
}

.bar-fg {
    color: var(--white);
    background-color: var(--barFgColor);
    height:7px; 
}

.right-container {
    /* border: 1px solid red; */
    margin-top: 100px;
    margin-left: 45px;
    text-align: right;
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 100;
    width: 45%;
}

.right-container h2 {
    border-bottom: 1px solid var(--white);
}

.app-link-icon {
    margin-right: 10px;
}

footer {
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    justify-content: center;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 20px;
}

@media(max-width: 600px) {

    .main-container {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .left-container {
        /* border: 1px solid yellow; */
        width: 90%;
    }

    .right-container {
        /* border: 1px solid blue; */
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 100;
        width: 90%;
    }

    .main {
        text-align: center;
    }

    .to-apps-link {
        display: block;
    }

    footer {
        /* border: 1px solid wheat; */
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 0;
    }

    footer p {
        font-size: .9rem;
    }
}