:root {
  --bg: #fff;
  --text: #007acc;
  --orange: #ff5500;
  --orangeHi: #ff7b00;
  --slate: #b6c5e0;
  --activeGreen: #2cdb00;
  --activeGreenHi: #00e650;
  --leftGrad: #05cff7;
  --centerGrad: #a2faa7;
  --rightGrad: #007acc;
}

html[data-theme='light'] {
  --bg: #f3f8f9;
  --text: #1a8fbe;
  --orange: #e24a54;
  --orangeHi: #ff7b00;
  --slate: #a5abb9;
  --activeGreen: #2cdb00;
  --activeGreenHi: #00e650;
  --leftGrad: #e24a54;
  --centerGrad: #b7becf;
  --rightGrad: #1a8fbe;
}

html[data-theme='dark'] {
      --bg: #222831;
      --text: #bdbdbd;
      --orange: #76ABAE;
      --orangeHi: #9fe5e8;
      --activeGreen: #26b402;
      --activeGreenHi: #049637;
      --slate: #31363F;
      --leftGrad: #229799;
      --centerGrad: #48CFCB;
      --rightGrad: #F5F5F5;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.message {
  display: none;
  color: var(--text);
}

.overlay {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.image-modal {
  border: 2px solid;
  border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75%;
  width: 700px;
  padding: 0px;
  z-index: 1;
}

.close-image-modal {
  text-shadow: rgba(0,0,0, 1) 1px 1px 2px;
  border: 1px solid #fff;
  background-color: #ffffff80;
  position: absolute;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

.paintings-main-container img{
  border: 2px solid;
  border-image: linear-gradient(45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1200px) { 
  
  .message {
    display: block;
  }
  header {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: inline;
    text-align: center;
  }
  
}

