:root {
  --backgroundBlue: #007acc;
  --buttonRed: #c1121f;
  --darkBlue: #03346E;
  --barFgColor: #06D001;
  --barBgColor: #fff;
  --leftGrad: #12C2E9;
  --centerGrad: #c471ed;
  --rightGrad: #f64f59;
  --h2: #fff;
  --white: #fff;
}

html[data-theme='light'] {
  --bg: #fff;
  --text: #007acc;
  --orange: #ff5500;
  --orangeHi: #ff7b00;
  --slate: #b6c5e0;
  --activeGreen: #2cdb00;
  --activeGreenHi: #00e650;
  --leftGrad: #05cff7;
  --centerGrad: #a2faa7;
  --rightGrad: #007acc;
}

html[data-theme='dark'] {
      --bg: #222831;
      --text: #bdbdbd;
      --orange: #76ABAE;
      --orangeHi: #9fe5e8;
      --activeGreen: #26b402;
      --activeGreenHi: #049637;
      --slate: #31363F;
      --leftGrad: #229799;
      --centerGrad: #48CFCB;
      --rightGrad: #F5F5F5;
}

*{
  margin: 0;
  padding: 0;
}

html{
    font-family: Helvetica, sans-serif
}

body {
  height: auto;
  background-color: #0093E9;
}

h1 {
  color: #09396c;
  margin-right: 90px;
}

.theme-btn {
  position: absolute;
  background: none;
  top: 0px;
  right: 40px;
  border: none;
  cursor:pointer;
  color:var(--white);
  font-size: 1.3rem;
  text-decoration:none;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 25px;
}

footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
}

a {
  background-color: transparent;
  font-size: 1.5rem;
  color: #f7efe0;
  text-decoration: none;
  margin: 10px;
}

a:active,
a:hover {
  outline-width: 0;
  color: #205b9a;
  transition: 0.5s;
}

.container {
  /* border: 1px solid red; */
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  gap: var(--gap);
}

.container-col-2 {
  grid-column:  span 2;
}

.container-row-2 {
  grid-row:  span 2;
}

.container > img {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media screen and (max-width: 1024px) {
  .container {
    --num-cols: 2;
    --row-height: 200px;
  }

  h1 {
    color: #09396c;
  }
  
  header {
    display: inline-block;

  }
}

@media screen and (max-width: 600) {
  .container {
    --num-cols: 2;
    --row-height: 200px;
  }

  h1 {
    color: #09396c;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: inline;
    text-align: center;
  }
  
}

