.app-hidden {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.front p {
    font-size: 3.5rem;
}

.back p {
    font-size: 5.5rem;
}

.game {
    height: 640px;
    width: 640px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    cursor: pointer;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 0 5px;
    border: 2px solid;
    border-image: linear-gradient(-45deg, var(--leftGrad) 10%, var(--centerGrad) 50%, var(--rightGrad) 100%) 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .17);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.front, 
.back {
    width: 100%;
    height:100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 4px;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    background-color: var(--slate);
}

.front {
    transform: rotateY(180deg);
    background-color: var(--inputBg);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* transition: 200ms ease-in-out; */
    border-radius: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 240px;
    height: 100px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--bg);
    color: var(--text);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .5), 0 1px 1px 0 rgba(0, 0, 0, .3);
}

@media screen and (max-width: 500px) {
    .game{
        width: 450px;
        height: 450px;
    }
    .modal {
        top: 32%;
    }

    .front p {
        font-size: 2.5rem;
    }
    
    .back p {
        font-size: 2.5rem;
    }

    .app-hidden {
        display: block;
    }
    .hero {
        display: none !important;
    }
    .title-container {
        color: var(--text);
    }
}
