:root {
    --bg: #fff;
    --text: #007acc;
    --highlight: #FF6969;
    --slate: #b6c5e0;
    --leftGrad: #05cff7;
    --centerGrad: #a2faa7;
    --rightGrad: #007acc;
}

.dealer-container {
    margin-bottom: 25px;
}

#dealer-cards img {
    height: 200px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.bet-info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bet-dialog {
    border-bottom: 1px solid #282828;
    width: 450px;
}

.bet-btns {
    margin: 20px;
}

.bet-btn {
    border: none;
    padding: 5px 10px;
    color: #007acc;
    background-color: #1a4663;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
}

.player-container {
    /* border: 1px solid blue; */
    text-align: center;
}

#player-cards img {
    height: 200px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.btn-container {
    margin-top: 25px;
}

dialog {
    border: none !important;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 20px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results {
    font-size: 2rem;
}

.play-again-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.play-again-btn:hover {
    background-color: var(--orangeHi);
}
