

.post-container {
    position: relative;
    margin: 10px;
    height: 250px;
    width: 700px;
    overflow: hidden;
}

.post-header {
    /* border-bottom: 1px solid var(--slate); */
}

.post-header h2 {
    color: var(--orange);
    background-color: var(--bg);
    font-size: 1.6rem;
    padding: 0 0 0 20px;
}

.post-body {
    color: var(--text);
}

.post-body img {
    
    position: absolute;
    transform: translateY(-20%);
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: .7;
}

.post-footer {
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.41);
    text-align: left;
    width: 100%;
    height: 25%;
    bottom: 0;
}

.post-footer  a {
    position: absolute;
    bottom: 0;
    right: 45px;
}

.post-footer p {
    font-size: 1rem;
    padding: 10px;
    font-weight: 100;
    color: #fff;

}

@media (max-width: 900px) {
    .post-container {
        width: 90%;
    }
}